@layer components{
    .navbar {
        @apply w-full fixed z-50 flex flex-wrap items-center;
    }

    .navbar-toggler-icon {
		position: relative;
		right: 0;
		display: block;
		height: 2px;
		width: 1.75rem;
		--tw-bg-opacity: 1;
		background-color: rgb(255 255 255 / var(--tw-bg-opacity));
		transition-property: all;
		transition-duration: .15s;
		transition-timing-function: cubic-bezier(.4,0,.2,1);
    }
}

